<!--jumbotron-->
<div class="jumbotron">
	<div class="container text-center">
		<h1>Hele-On Bus</h1>
		<p>Hawaii County Mass Transit Agency</p>
	</div><!--end container-->
</div><!--end jumbotron-->

<!--Gallery-->
<div class="#" id="image">
<
	<section>
				
		<div id="container" align="center" class="relative">
		
			<div class="absolute-text">
				<div class="w3-container w3-red ">
				<h2><strong>{{title}}</strong></h2>
				<h4><strong>{{subtitle}}</strong></h4>
				<br><br>				 
       			</div>
       			<br><br><br>
				<div class="container text-center" text-align="center">
					<strong>
					{{#each table}}
					
					<table align="center" border="1px">
					
					<tr>
					<th colspan="100" class="table_title">{{this.R_Name}}</td>
					</tr>
					<tr class='location_name'>
					{{#each locations}}
					<td class="{{this.Chosen}}"><span class="l_name">{{this.L_Name}}</span></td>
					{{/each}}
					</tr>
					<tr class='location_time'>
					{{#each locations}}
					<td class="{{this.Chosen}}"><time class="l_time">{{this.TIME_12}}</time></td>
					{{/each}}
					</tr>
					</table>
					
					{{/each}}
					</strong>
				</div><!--end container-->
			</div><!--end container-->

		</div>			
	</section>
</div> <!--carousel end -->
